# =========================
# plastomes_assembly config
# =========================

# Input data
RAW_DIR="data/raw"

# Output base directories
RESULTS_DIR="results"
LOG_DIR="logs"

# Threads
THREADS=8

# Tools (leave as command names if available in PATH)
FASTQC_BIN="fastqc"

# Trimming (Trimmomatic)
TRIMMOMATIC_JAR=""
ADAPTERS_FA=""

# GetOrganelle
GETORGANELLE_BIN="get_organelle_from_reads.py"
GETORGANELLE_MODE="embplant_pt"
ROUNDS=10
KSET="21,45,65,85,105"
